Config {

   -- appearance
     font =         "FiraCode Nerd Font Mono Regular 10"
   , bgColor =      "#303446"
   , fgColor =      "#c6d0f5"
   , position =     Top
   , border =       BottomB
   , borderColor =  "#a5adce"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " %UnsafeStdinReader% }{ %kbd% | %music%  | %battery% | %weather% | %date% %trayerpad%"

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

   -- plugins
   --   Numbers can be automatically colored according to their value. xmobar
   --   decides color based on a three-tier/two-cutoff system, controlled by
   --   command options:
   --     --Low sets the low cutoff
   --     --High sets the high cutoff
   --
   --     --low sets the color below --Low cutoff
   --     --normal sets the color between --Low and --High cutoffs
   --     --High sets the color above --High cutoff
   --
   --   The --template option controls how the plugin is displayed. Text
   --   color can be set by enclosing in <fc></fc> tags. For more details
   --   see http://projects.haskell.org/xmobar/#system-monitor-plugins.
   , commands =

        -- weather monitor
        [ Run Weather "RJTT" [ "--template", "<tempC> °C"
                             ] 36000

        -- time and date indicator
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "<fc=#d7dad8>%d/%m/%y %H:%M </fc>" "date" 10

        , Run Com ".local/share/scripts/pf-status" ["padding"] "trayerpad" 2

        , Run Com ".local/share/scripts/pf-status" ["music"] "music" 10

        , Run Com ".local/share/scripts/pf-status" ["weather"] "weather" 50

        -- keyboard layout indicator
        , Run Kbd            [ ("ara"        , "<fc=#a6d189>ar</fc>")
                             , ("us"         , "<fc=#8caaee>en</fc>")
                             ]
        , Run UnsafeStdinReader
	]
   }

